.bgscrn {
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	video {
		width: auto;
		height: auto;
		min-width: 100%;
		min-height: 100%;
	}
}
