form {
	padding: 20px;
	.form-group {
		* {
			margin: 10px;
		}
		label {
			margin: 10px 0 0 10px;
			display: block;
			font-size: 110%;
		}
		.form-input {
			padding: 10px;
			border-radius: 10px;
			box-shadow: 0 2px 5px 1px #000;
		}
	}
	button {
		&.btn {
			border-radius: 10px;
			padding: 10px;
			box-shadow: 0 2px 5px 1px #000;
		}
	}
}
