@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
	border: 0;
	margin: 0;
	padding: 0;
	outline: 0;
	text-decoration: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: Roboto, sans-serif;
	scroll-behavior: smooth;
	-webkit-scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}
