doctype html
html
	head
		title #{title} - Fritim & Atanova
		link(rel="stylesheet" href="css/home.min.css")
	body
		div#welcome.center.fscreen
			h1 Fritim & Atanova
			h3 Welcome to the future of flying...
